/* General Navbar Styles */
.navbar {
  display: flex;
 
  gap: 350px;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 30px;
  z-index: 1000;
}

.dark-mode .navbar {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.left-nav h1 {
  font-size: 40px;
  font-weight: bold;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right-nav a {
  text-decoration: none;
  color: black;
}

.dark-mode .right-nav a {
  color: white;
}

.right-nav p {
  font-weight: 600;
  padding: 5px 10px;
  cursor: pointer;
}

.right-nav p:hover {
  background-color: #DC4D01;
  color: white;
  border-radius: 5px;
}

.highlight {
  color: #DC4D01;
}

/* Dark Mode Button */
.btn button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

/* Menu Icon */
.menu-icon {
  display: none;
  cursor: pointer;
  color: black;
  z-index: 1500;
  position: relative;
}

.dark-mode .menu-icon {
  color: white;
}

/* Drawer Styles */
.drawer {
  position: fixed;
  top: 0;
  left: -100%;  /* Hidden on the left */
  width: 250px;
  height: 100vh;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.3) 4px 0px 15px;
  transition: left 0.4s ease;
  z-index: 1500;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.drawer.open {
  left: 0;  /* Slides in from the left */
}

.drawer a {
  text-decoration: none;
  color: black;
  margin: 15px 0;
  font-size: 18px;
  margin-top: 5px;
}

.drawer a:hover {
  color: #DC4D01;
}

.dark-mode .drawer {
  background: #1e1e1e;
  color: white;
}

.dark-mode .drawer a {
  color: white;
}
.dark-mode .drawer a:hover {
  color:#DC4D01;
}



/* Close Button Styles */
.close-btn {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 30px;
  color: black;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1600;
  transition: transform 0.3s ease;
}

.close-btn:hover {
  transform: rotate(90deg);
  color: #DC4D01;
}

.dark-mode .close-btn {
  color: white;
}

@media screen and (max-width: 1024px) {
  .menu-icon {
    display: block;
  }
  .right-nav {
    display: none;
  }
  .navbar{
    gap: 600px;
  }
  
  
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .right-nav {
    display: none;
  }
  .navbar{
    gap: 200px;
  }
}

@media screen and (max-width: 480px) {
  .menu-icon {
    display: block;
  }
  .drawer {
    width: 200px;
  }
  .navbar{
    /* display: flex;
    justify-content: left; */
    gap: 170px;
  }
}
