/* Default Styles (Base - Desktop) */
.project-cover {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: stretch;
  margin-left: 20px;
}

.project {
  background-color: #FFFFFF;
  padding-top: 100px;
}

.dark-mode .project {
  background-color: #2a2a2a;
  color: white;
}

.project-card {
  width: 300px;
  height: 360px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 3px solid #DC4D01;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease-in-out;
  margin-top: 20px;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.project-card h3 {
  padding: 10px;
  font-size: 18px;
  color: #333;
}
.project-card p {
  padding: 10px;
  font-size: 12px;
  color: #333;
}

/* Overlay effect */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project-card:hover .overlay {
  opacity: 1;
}

.icon {
  color: #DC4D01;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  background: transparent;
  border: none;
}

.icon:hover {
  transform: scale(1.2);
}

.project h1 {
  text-align: center;
  padding-top: 20px;
}


/* RESPONSIVE DESIGN */





/* Small Laptops (769px - 1024px) */
@media (max-width: 1024px) {
  .project-cover {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-left: 0;
  }

  .project-card {
    width: 280px;
  }
}

/* Tablet (481px - 768px) */
@media (max-width: 768px) {
  .project-cover {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    padding: 15px;
    margin-left: 0;
  }

  .project-card {
    width: 90%;
  }
}

/* Mobile (Max Width: 480px) */
@media (max-width: 480px) {
  .project-cover {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding: 10px;
    margin-left: 0;
  }

  .project-card {
    width: 90%;
    margin: auto;
  }
}

/* Default (1025px and above - Desktops) */
@media (min-width: 1025px) {
  .project-cover {
    grid-template-columns: repeat(3, 1fr);
  }
}
