/* Default Styles (Base - Desktop) */
.skill {
    padding: 100px 20px 40px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dark-mode .skill {
    background-color: #222222;
    color: white;
}

.dark-mode .per-skill p {
    color: black;
}

.skill h1 {
    font-size: 2rem;
    text-align: center;
}

.all-skill {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    align-items: center;
}

.per-skill {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #DC4D01;
    background-color: white;
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.per-skill:hover {
    transform: scale(1.1);
}

.per-skill img {
    width: 50%;
    height: auto;
    margin-bottom: 5px;
}

.per-skill p {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0;
}

/* RESPONSIVE DESIGN */




/* Small Laptops (769px - 1024px) */
@media (max-width: 1024px) {
    .skill {
        padding: 90px 20px 50px;
    }

    .all-skill {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .per-skill {
        width: 140px;
        height: 140px;
    }

    .per-skill p {
        font-size: 0.8rem;
    }
}

/* Tablet (481px - 768px) */
@media (max-width: 768px) {
    .skill {
        padding: 80px 15px 40px;
    }

    .all-skill {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
    }

    .per-skill {
        width: 130px;
        height: 130px;
    }

    .per-skill p {
        font-size: 0.75rem;
    }
}


/* Mobile (Max Width: 480px) */
@media (max-width: 480px) {
    .skill {
        padding: 60px 40px 30px;
    }

    .all-skill {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: center;
    }

    .per-skill {
        width: 140px;
        height: 140px;
    }

    .per-skill p {
        font-size: 0.7rem;
    }
}





/* Default (1025px and above - Desktops) */
@media (min-width: 1025px) {
    .all-skill {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
}
